@import "/src/assets/styles/themes";

.card {
    display: flex;
    flex-direction: row;
    background-color: var(--panel-background-color-primary);
    border-radius: 0.2rem;
    gap: 0.5rem;
    padding-right: 1rem;
    flex: 1 0 100%;

    &.clickable:hover {
        cursor: pointer;
        filter: drop-shadow(2px 2px 2px var(--ui-button-focus-shadow-color));
    }

    .status {
        display: flex;
        flex-basis: 0 0 auto;
        min-width: 1rem;

        &.good {
            background-color: var(--card-status-good);
        }

        &.office {
            background-color: var(--card-status-office);
        }

        &.applicant {
            background-color: var(--card-status-applicant)
        }

        &.third {
            background-color: var(--card-status-third-party)
        }
    }

    .content {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        margin: 0 0 0.5rem;

        h2 {
            margin: 0.25rem 0;
            font-weight: 600;
            font-size: clamp(1rem, 5cqi, 1.5rem);
        }
    }
}