@import "/src/assets/styles/themes";

nav {
    padding: 1rem 0.5rem 0;
    ul {
        list-style-type: none;
        margin: 0; 
        padding: 0;
        li {
            font-weight: 600;
            font-size: 1.1rem;
            a {
                text-decoration: none;
                &:hover:not(.disabled) {
                    cursor: pointer;

                }
            }
            & ul {
                padding-left: 1rem;
            }
        }
    }
    .nolink {
        opacity: 0.8;
    }
    .separator {
        display: block;
        opacity: 0.5;
        margin-top: 0.3rem;
        border-top: 1px solid white;
        min-height: 0.2rem;
        width: 100%;
    }
}