<h2>Error</h2>
<div class="alert error">
    <p>Nisi anim in cupidatat magna occaecat esse. Ullamco sint enim proident irure qui sint magna in enim esse.</p>
</div>
<h2>Warning</h2>
<div class="alert warning">
    <p>Nisi anim in cupidatat magna occaecat esse. Ullamco sint enim proident irure qui sint magna in enim esse.</p>
</div>
<h2>Information</h2>
<div class="alert info">
    <p>Nisi anim in cupidatat magna occaecat esse. Ullamco sint enim proident irure qui sint magna in enim esse.</p>
</div>
<h2>With Heading</h2>
<div class="alert error">
    <h2>Error</h2>
    <p>Nisi anim in cupidatat magna occaecat esse. Ullamco sint enim proident irure qui sint magna in enim esse.</p>
</div>
<div class="alert info">
    <h2>Information</h2>
    <p>Nisi anim in cupidatat magna occaecat esse. Ullamco sint enim proident irure qui sint magna in enim esse.</p>
</div>