@import "/src/assets/styles/themes";

.alert {
    padding: 0.5rem 1rem;
    margin: 1rem 0.25rem;
    border-radius: 0.25rem;

    &.error {
        background-color: #ea6e6b;
        color: white;
    }

    &.warning {
        background-color: #ea9a53;
        color: black;
    }

    &.info {
        background-color: #A7AED2;
        color: black;
    }

    .heading {
        margin: 0;
        font-size: 1.1rem;
        font-weight: 500;
    }
}