@import "/src/assets/styles/themes";
.dropdown {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--menu-bg-color);
    color: var(--menu-fg-color);
    padding: 0.25rem;
    flex-basis: 0 0;
    a {
        position: relative;
    }
    &:hover, &:focus, &:active {
        cursor: pointer;
        background-color: var(--menu-bg-hover-color);
        .dropdown-content {
            display: block;
        }
    }
    i {
        margin: 0 0 0 0.25rem;
        margin-left: 0.5rem;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        min-width: 10rem;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        background-color: var(--menu-bg-color);
        color: var(--menu-fg-color);
        z-index: 1001;
        margin-left: -0.25rem;
        margin-top: 1.7rem;
        width: 15rem;
        ul {
            list-style: none;
            margin:0;
            li {
                &.disabled {
                    color: var(--menu-fg-color-disabled);
                }
                &.separator {
                    width: 100%;
                    margin: 0.1rem 0 0rem;
                    height: 0.3rem;
                    //padding: 0 0 0.1rem;
                    border-top: 1px solid var(--menu-fg-color-disabled);
                };
                a {
                    display: flex;
                    justify-content: flex-start;
                    gap: 0.75rem;
                    padding: 0.25rem 0 0.25rem 0.1rem;
                    span:first-of-type {
                        display: block;
                        width: 2rem;
                        padding: 0;
                        margin: 0;
                        text-align: center;
                    }
                }
                &:hover:not(.separator) {
                    cursor: pointer;
                    background-color: var(--menu-bg-hover-color);
                }
            }
        }
        &.open {
            display: block;
        }
    }
}
.backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    &.open {
        display: block;
    }
}