<div class="applicant-card" (click)="onClick($event)" [class.static]="static">
    <div class="image">
        <app-cf-profile [urlOrInitials]="urlOrInitials" [roundImage]="false" [width]="240" [height]="240"></app-cf-profile>
        <app-cf-status-display [status]="applicant.status"></app-cf-status-display>
    </div>
    <div class="details">
        <div class="row">
            <span class="id">{{applicant.applicationId}}</span>
        </div>
        <div class="row">
            <span class="name">{{applicant.firstName}} {{applicant.lastName}}</span>
        </div>

    </div>
</div>