@import "/src/assets/styles/themes";

.applicant-card {
    cursor: pointer;
    position: relative;
    border: 1px solid var(--applicant-card-border-color);
    background-color: var(--applicant-card-bg-color);
    border-radius: 0.2rem;
    margin: 0;
    padding: 0.5rem;
    display: flex;
    gap: 1rem;
    max-height: calc(var(--applicant-card-base-width) + 4rem); // image + status + margin t+b
    max-width: calc(var(--applicant-card-base-width) + 1rem + 2px);
    .image {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: calc(var(--applicant-card-base-width) + 2rem); // image + status + margin t+b
        width: calc(var(--applicant-card-base-width) + 1rem + 2px);
        filter: blur(0.2);
        filter: brightness(0.9);
    }
    .details {
        position: absolute;
        top: 0.5rem;
        left: 0.6rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .row {
            width: calc(var(--applicant-card-base-width) - 0.45rem); // +4?
            overflow: hidden;
            display:flex;
            flex-direction: row;
            .id {
                text-align: right;
                display: block;
                width: 100%;
                font-size: 0.8rem;
                opacity: 0.6;
                color: white;
            }
            .name {
                display: block;
                margin-top: calc(var(--applicant-card-base-width) - 35px);
                color: white;
                font-weight: 700;
                padding: 0 1px;
                text-shadow: -1px -1px 3px  var(--applicant-card-hover-shadow-color);
                filter: brightness(1.5);
                filter: contrast(150%);
            }
        }
    }
    &:hover {
        filter: drop-shadow(1px 1px 2px var(--applicant-card-hover-shadow-color));
        filter: brightness(125%);
    }
}

:host::ng-deep .statusBox {
    font-weight: 600;
    display: block;
    opacity: 0.8;
    min-height: 2rem;
    overflow: hidden;
    font-size: 0.9rem;
    max-height: 2rem;
    padding-top: 0.4rem;
    width: calc(240px);
}