@import "/src/assets/styles/themes";

.container {
    container-type: main inline-size;
    width: 100%;
    .menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1;
        padding: 0.5rem 0.5rem;
        background: var(--menu-bg-color);
        color: var(--menu-fg-color);
        a {
            color: var(--menu-fg-color);
            text-decoration: none;

            &.logo {
                padding: 0;
                width: 7rem;
                img {
                    width: 7rem;
                }
                &:hover {
                    background: var(--menu-bg-color);
                    cursor: pointer;
                }
            }
        }
        .base {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            gap: 1rem;
            position: relative;
            .items-lhs {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 0.5rem;
                padding-left: 1rem;
            }
            .items-rhs {
                position: relative;
                container: rhs / inline-size;              
                display:flex;
                flex-flow: nowrap reverse;
                justify-content: flex-end;
                align-items: center;
                gap: 0.5rem;
                flex: 1 1 auto;
                .search {
                    position: relative;
                    flex-grow: 2;
                }
                .user {
                    flex: 1 1 1;
                }
            }
        }
    }
}
.container-compact {
    display: none;
    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1;
        padding: 0.5rem 0.5rem;
        background: var(--menu-bg-color);
        color: var(--menu-fg-color);
        a {
            color: var(--menu-fg-color);
            text-decoration: none;
    
            &.logo {
                padding: 0.25rem 0 0;
                width: 2rem;
    
                img {
                    width: 2rem;
                }
    
                &:hover {
                    background: var(--menu-bg-color);
                    cursor: pointer;
                }
            }
        }
    }
}

@container rhs (max-width: 330px) {
        .search {
        display: none;
    }
}

@media (max-width: 600px) {
    .container-compact {
            display: block;
        }

    .container {
        display: none;
    }
}
