<div class="m">
    <a (click)="itemSelected('home')" class="logo"><img src="https://testportal.mycampamerica.com/assets/img/CALogoWhite.png"></a>
    <div class="base">
        <div class="items">
            <button type="button" (click)="itemSelected('applicants')">Applicants</button>
            <app-cf-dropdown *ngIf="interviewerOptions" [options]="interviewerOptions" (dropdownSelected)="dropdownSelected($event)"></app-cf-dropdown>
            <app-cf-dropdown *ngIf="dropdownOptions" [options]="dropdownOptions" (dropdownSelected)="dropdownSelected($event)"></app-cf-dropdown>
        </div>
        <div class="search"></div>
        <div class="user">
            <app-cf-dropdown class="user-menu" *ngIf="userOptions" [options]="userOptions" (dropdownSelected)="dropdownSelected($event)"></app-cf-dropdown>
        </div>
    </div>
</div> 