<div class="menu">
    <div class="header-content">

        <a href="#" class="logo"><img src="https://testportal.mycampamerica.com/assets/img/CALogoWhite.png"></a>

        <input type="checkbox" id="hamburger">
        <label for="hamburger" class="hamburger">
            <span><i class="fa-solid fa-bars"></i></span>
        </label>

        <nav>
            <ul class="menus">
                <li style="--delay: 1;"><a href="#">Home</a></li>
                <li style="--delay: 2;" tabindex="0">
                    <button>
                        <span>Drop down</span>
                        <span class="arrow"></span>
                    </button>
                    <ul class="dropdown">
                        <li><a href="#">Item One</a></li>
                        <li><a href="#">Item Two</a></li>
                        <li><a href="#">Item Three</a></li>
                        <li><a href="#">Item Four</a></li>
                    </ul>
                </li>
                <li style="--delay: 3;"><a href="#">About</a></li>
            </ul>
        </nav>
    </div>
</div>
