<div class="container">
    <app-cf-menu class="menu" (menuSelected)="menuItemSelected($event)"></app-cf-menu>
    <div class="content">
        <h1>Canvas Timeline</h1>
        <div class="tl" style.height="{{months}}{{TIMELINE_UNIT}}">
            <div *ngFor="let e of entries" class="entry" [class.left]="e.type == 1" [class.right]="e.type == 2"
                [style]="getStyle(e)" [innerHtml]="e.text"></div>
        </div>
        <p>Return to <a href="./">component showcase page</a>.</p>
    </div>
    <footer>
        <p>I'm a footer</p>
    </footer>
</div>