@import "/src/assets/styles/themes";
@import "/src/assets/styles/buttons";

.container {

    .menu {
        position: sticky;
        top: 0;
        z-index: 2;
    }

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1 0 auto;

    .tl {
        border: 1px solid #181818;
        padding: 0.5rem;
        position: relative;
        width: 100%;

        div {
            position: absolute;
            padding: 0.25rem;
        }

        .scale {
            height: 100%;
            top: 0;
            left: calc( 50% - 0.5rem );
            width: 1rem;
            position: relative;
            .tick {
                position: absolute;
            }
        }

        .entry {
            min-height: 2rem;
            width: calc( 50% - 1rem);
            background:transparent;
            // background-color: #fafdfd;
            border-top: 1px solid #aaa;
            &:hover {
                background-color: #bde2e6;
                cursor: pointer;
            }

            &.left {
                border-right: 4px solid #AAA;
            }

            &.right {
                border-left: 4px solid #AAA;
            }
        }
    }
}

// Because these are innerHtml
:host ::ng-deep span.title {
    display: block;
    margin: 0;
    font-size: 1rem;
}

:host ::ng-deep span.date {
    display: block;
    margin: 0;
    font-size: 0.75rem;
}

:host ::ng-deep span.compressed {
    display: block;
    margin-top: -0.25rem;
    font-size: 0.75rem;
}

:host ::ng-deep span.description {
    margin: 0;
    font-size: 0.8rem;
}


footer {
    border: 1px dotted gray;
    background-color: gray;
    color: white;
    padding: 0 0.5rem;
    min-height: 5rem;
    text-align: center;

    p {
        margin-top: 1.75rem;
    }
}