<div class="container">
    <div class="content">
        <h1>Content Title</h1>
        <p>Definitions:
        <code>
        &lt;div class="container"&gt;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="content"&gt;&lt;/div&gt;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&lt;footer&gt;&lt;/footer&gt;<br>
        &lt;/div&gt;<br>
        </code></p>
        <p>Styles:
        <code>
        .container {{ '{' }}<br>
        &nbsp;&nbsp;&nbsp;&nbsp;display: flex;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;flex-direction: column;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;min-height: 100vh;<br>
        {{ '}' }}<br>
        .content {{ '{' }}<br>
        &nbsp;&nbsp;&nbsp;&nbsp;flex: 1 0 auto;<br>
        {{ '}' }}<br>
        footer {{ '{' }}{{ '}' }}
        </code></p>
        
        <p>Return to <a href="/">component showcase page</a>.</p>
    </div>
    <footer><p>I'm a footer</p></footer>
</div>