@use 'src/assets/styles/themes';

.review-item {
    display: flex;
    flex-direction: row;
    background-color: var(--panel-background-color-primary);
    border-radius: 0.2rem;
    gap: 0.5rem;
    padding-right: 1rem;
    flex: 1 0 100%;
    margin-bottom: 1rem;
    width: 100%;

    .status {
        display: flex;
        flex-basis: 0 0 auto;
        min-width: 1rem;

    }

    .text {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        margin: 0 0 0.5rem;
        white-space: pre-wrap;

        h2 {
            margin: 0.25rem 0;
            font-weight: 600;
            font-size: clamp(1rem, 5cqi, 1.5rem);
        }
    }

    &:hover:not(.readonly) {
        cursor: pointer;
        filter: drop-shadow(2px 2px 2px var(--ui-button-focus-shadow-color));
        background-color: var(--review-item-hover-bg-color);
    }
}