@import "/src/assets/styles/themes";


.text {
    position: relative;
    .area {
        display: inline-block;
        width: 100%;
        background-color: white;
        color: black;
        border: 1px solid var(--table-border-color);
        border-radius: 0.2rem;
        height: 8rem;
        overflow-x: wrap;
        overflow-y: scroll;
        scroll-behavior: auto;
        padding: 0.25rem;
        line-height: 1.5rem;
        & * {
            padding: 0.25rem;
        }
    }
    .at-list {
        position: absolute;
        padding: 0;
        border: 1px solid var(--table-border-color);
        border-radius: 0.2rem;
        min-height: 1.5rem;
        overflow-x: hidden;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        background-color: white;
        .result{
            padding: 0.25rem 0.5rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            &.selected {
                background-color: var(--table-row-hover-bg-color);
                color: var(--table-row-hover-fg-color);
            }
        }
    }
}
:host::ng-deep .mention {
    background-color: var(--table-heading-default-bg-color);
    color: var(--table-heading-default-fg-color);
    border-radius: 0.4rem;
    padding: 0.1rem 0.1rem;
    opacity: 0.6;
}

:host::ng-deep .mention-selected {
    background-color: var(--table-heading-default-bg-color);
    color: var(--table-heading-default-fg-color);
    border-radius: 0.4rem;
    padding: 0.1rem 0.1rem;
    opacity: 0.6;
    border: 1px solid blue;
}