<div class="text">
    <div #mentiontext class="area" 
        [(ngModel)]="model" contenteditable
        tabindex="0"
        (focus)="onFocus($event)"
        (click)="onClick($event)"
        (keydown)="onKeyDown($event)" 
        (keyup)="onKeyUp($event)">
    </div>
    <div *ngIf="atResults" class="at-list">
        <div class="result" *ngFor="let m of atList; let i = index" [class.selected]="i==atSelectedItem" (click)="selectEntry(i)">
            <div class="name" [innerHTML]="m.fullName | boldText:attingText"></div>
        </div>
    </div>
    <br>
    <p [textContent]="text"></p>
    <p>@Typing: {{attingText}}</p>
</div>