@import "/src/assets/styles/themes";

.target {
    display: flex;
    flex-direction: column;
    background-color: var(--panel-background-color-primary);
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    min-width: 12rem;
    height: 100%;
    justify-content: center;
}