/* You can add global styles to this file, and also import other style files */
@import "assets/styles/themes";
@import "assets/styles/buttons";

.tour-target {
    position: relative;
    z-index: 998;
    box-shadow: 0px 0px 8px 8px var(--panel-background-color-primary);
}

* {
    font-family: "Nunito", "Roboto", "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-size: 14pt;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--page-background-color);
    color: var(--page-foreground-color);
    padding: 0 0.5rem;
}

h1,
h2 {
    margin: 1rem 0;
    font-weight: 600;
    color: var(--heading-main-color);
}

h3,
h4,
h5 {
    margin: 0.75rem 0;
    font-weight: 500;
    color: var(--heading-sub-color);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1rem;
}

p {
    margin: 0.75rem 0;
    font-size: 1rem;
    line-height: 1.5rem;

    &.smaller {
        font-size: 0.75rem;
        margin: 0.5rem 0 0;
    }
}

ul,
ol {
    margin-left: 2.5rem;
    margin-bottom: 1rem;
    line-height: 1.5rem;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
    gap: 1rem;
}

.flex-container>* {
    padding: 0 1rem;
    background-color: var(--panel-background-color-primary);
    border: 1px solid var(--panel-border-color);
    border-radius: 0.25rem;
}

.content {
    background-color: var(--page-background-color);
}

.left {
    min-width: 20rem;
    flex-basis: 100%;
    flex: 2;
}

.right {
    background-color: var(--panel-background-color-primary);
    padding: 0.5rem;
    min-width: 8rem;
    flex: 1;
}

code {
    font-family: "Reddit Mono", monospace;
    font-size: 0.8rem;
    margin-top: 0;
    padding: 0.5rem 1rem;
    display: block;
    background-color: #121212;
    color: lime;

    &.inline {
        display: inline;
        padding: 0 0.1rem;
    }
}

.sidebar{
    flex-basis: calc(var(--applicant-card-base-width));
}

.sidebar, 
footer {
    background-color: var(--menu-bg-color);
    color: var(--menu-fg-color);
    a {
        color: var(--menu-fg-color);
        &:hover {
            color: var(--menu-bg-hover-color);
        }
    }
}

.display-col-fill {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;

    &>* {
        flex-grow: 1;
    }

    .wide {
        flex-basis: 100%;
        // width: 100%;    
        //min-width: 20rem;
    }

    .half {
        display: flex;
        flex-shrink: 2;
        // flex-basis: calc(50% - 0.25rem);
        // width: 50%;
        //min-width: 20rem;
    }
}