[data-theme="light"] {
    --page-background-color: #FFF7E3;
    --page-foreground-color: #121212;
    --heading-main-color: #275E70;
    --heading-sub-color: #275E70;

    --panel-background-color-primary: #FFF1E3;
    --panel-border-color: #A7AED2;

    --ui-button-small-color: black;
    --ui-button-small-hover-color: #A7AED2;
    --ui-button-disabled-color: #A7AED2;

    --ui-button-focus-shadow-color: #565656;

    --ui-primary-action-bg-color: #44788A;
    --ui-primary-action-fg-color: white;
    --ui-secondary-action-bg-color: #6996a4;
    --ui-secondary-action-fg-color: white;
    --ui-tertiary-action-bg-color: #eac853;
    --ui-tertiary-action-fg-color: white;
    --ui-default-action-bg-color: #ea9a53;
    --ui-default-action-fg-color: white;
    --ui-danger-action-bg-color: #ea6e6b;
    --ui-danger-action-fg-color: white;
    --ui-cancel-action-bg-color: #565656;
    --ui-cancel-action-fg-color: white;

    --main-nav-bg-color: #537d88;
    
    --applicant-card-bg-color: #FFF1E3;
    --applicant-card-border-color: #A7AED2;
    --applicant-card-hover-shadow-color: #565656;

    --search-bar-bg-color: white; //#87a4ac;
    --search-bar-fg-color: black;
    --search-bar-width: 400px;
    --search-bar-results-bg-color: white; //#87a4ac;
    --search-bar-results-fg-color: black;
    --search-bar-results-border-color: #44788A;

    --table-border-color: #6996a4;
    --table-heading-default-bg-color: #6996a4;
    --table-heading-default-fg-color: white;

    --table-row-hover-bg-color: #6996a4;;
    --table-row-hover-fg-color: white;
    --table-paginate-info-color: #6996a4;

    --tour-item-bg-color: #FFF1E3;
    --tour-item-fg-color: #121212;
    --tour-item-shadow-color: #565656;

    --dialog-backdrop-color: #000033;
    --dialog-title-bg-color: #6996a4;
    --dialog-title-fg-color: white;

    --menu-bg-color: #44788A;
    --menu-sub-bg-color: #708a92;
    --menu-fg-color: #fff;
    --menu-fg-color-disabled: #d9d9d9;
    --menu-bg-hover-color: #A7AED2;
    --menu-hamburger-color: #fff;
    --menu-dropdown-arrow-color: #fff;
    --menu-drop-shadow: rgba(0, 0, 0, .45);
    --menu-transition-delay: 0.25s;	

    --profile-image-bg-color: #537d88;
    --profile-image-fg-color: #FFF1E3;

    --status-fg-color: white;
    --status-preint: #00AFAA;
    --status-postint: #007DA4;
    --status-pendingaccept: #007DA4;
    --status-orcareject: #007DA4;
    --status-returner: #007DA4;
    --status-returnToOrca: #007DA4;
    --status-accepted: #007DA4;
    --status-applied: #E8BB2A;
    --status-rtp: #EA9A53;
    --status-placed: #33AB5A;
    --status-oop: #E85658;
    --status-rejected: #E85658;
    --status-transferred: #E8BC2A;
}